<div class="pt-56 pb-60">
  <div class="w-[95%] md:w-[600px] m-auto py-12 px-6 md:py-12 shadow-xl rounded border border-white-200">
    <h2 class="font-bold text-2xl mb-8">Login</h2>
    <p class="text-xs text-red-100 my-2"> <%= alert %> </p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="w-[100%] mb-6">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-[100%] rounded" %>
      </div>

      <div class="w-[100%] mb-6">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "w-[100%] rounded" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="w-[100%] md:w-[70%] text-center md:text-left mt-4">
        <%= f.submit "Log in",
           class: "bg-purple-300 py-3 px-16 md:px-24 text-white-100 hover:bg-purple-200 transition-all duration-300 cursor-pointer rounded" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
