<!DOCTYPE html>
<html>
  <head>
    <title>Prodauction</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="mt-[6rem]">
    <main>
      <% if notice %>
        <p class="notice fixed top-24 right-12 text-green-100 bg-white-200 rounded-md py-3 px-24"><%= notice %></p>
      <% end %>
      <%= render partial: 'layouts/header' %>

      <div class="w-[90%] lg:w-[1000px] xl:w-[1300px] m-auto">
        <%= yield %>
      </div>

      <%= render partial: 'layouts/footer' %>
    </main>
  </body>
</html>
